/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el body */
body {
    font-family: 'Arial', sans-serif; /* Cambia a tu fuente preferida */
    background-color: #f5f5f5; /* Color de fondo claro */
    color: #333; /* Color de texto por defecto */
    line-height: 1.6; /* Espaciado entre líneas */
    padding-top: 60px; /* Espacio para el navbar fijo */
}

/* Navbar */
.navbar {
    background-color: #fff;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    color: #9b3a3a;  
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;  
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #9b3a3a;  
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;  
}

.navbar .nav-links li a {
    text-decoration: none;
    color: #000;  
    padding: 10px;
    transition: background-color 0.3s ease;
}

.navbar .nav-links li a:hover {
    background-color: #f7f7f7;  
    border-radius: 5px;
}

.search-bar {
    padding: 7px;
    border: 1px solid rgba(184, 178, 178, 0.897);  
    border-radius: 5px;
    color: #333;
    background-color: #fff;
}

.search-bar::placeholder {
    color: #9b3a3a;  
}

/* Contenedor principal */
.contenedor {
    display: flex;
    padding: 20px;
}

/* Sidebar */
.contenedores {
    width: 20%; /* Ajusta según tus necesidades */
    background-color: #fff; /* Fondo blanco para los sidebars */
    padding: 15px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    border-radius: 5px; /* Bordes redondeados */
}

.contenedores ul {
    list-style-type: none; /* Sin viñetas */
}

.contenedores li a {
    text-decoration: none;
    color: #9b3a3a;  
    display: block;
    padding: 10px;
    margin: 5px 0;
    transition: background-color 0.3s ease;
}

.contenedores li a:hover {
    background-color: #f7f7f7;  
    border-radius: 5px;
}

/* Sección central */
.contenedores.central {
    flex: 1; /* Toma el espacio restante */
    padding: 15px;
    background-color: #fff; /* Fondo blanco para la sección central */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    border-radius: 5px; /* Bordes redondeados */
}

.amigo {
    background-color: #fefefe; /* Color de fondo para cada amigo */
    border: 1px solid #dcdcdc; /* Bordes de los amigos */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 30px; /* Espaciado entre amigos */
    padding: 15px; /* Espacio interno */
}

.amigo .cabecera {
    border-bottom: 1px solid #dcdcdc; /* Línea debajo del encabezado */
    margin-bottom: 10px; /* Espacio debajo del encabezado */
}

.nombre {
    font-size: 1.5em; /* Tamaño del nombre */
    color: #9b3a3a; /* Color del nombre */
}

.detalles {
    font-size: 0.9em; /* Tamaño de los detalles */
    color: #777; /* Color de los detalles */
}

.contenidos {
    text-align: center; /* Centrar la imagen */
}

.imagen-amigo {
    max-width: 100%; /* Asegurar que la imagen no exceda el contenedor */
    border-radius: 5px; /* Bordes redondeados para la imagen */
}

.relleno-derecho {
    width: 20%; /* Ajusta según tus necesidades */
    background-color: #fff; /* Fondo blanco para el sidebar derecho */
    padding: 15px;
    margin-left: 10px; /* Espacio entre la sección central y el sidebar derecho */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    border-radius: 5px; /* Bordes redondeados */
}

.relleno-derecho a {
    text-decoration: none;
    color: #9b3a3a;  
    display: block;
    padding: 10px;
    margin: 5px 0;
    transition: background-color 0.3s ease;
}

.relleno-derecho a:hover {
    background-color: #f7f7f7;  
    border-radius: 5px;
}
/* From Uiverse.io by SouravBandyopadhyay */ 
.hourglassBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #987b54;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    z-index: 9999; 
    border: 4px solid #333;
}
  
  .hourglassContainer {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 50px;
    height: 70px;
    -webkit-animation: hourglassRotate 2s ease-in 0s infinite;
    animation: hourglassRotate 2s ease-in 0s infinite;
    transform-style: preserve-3d;
    perspective: 1000px;
  
  }
  
  .hourglassContainer div,
  .hourglassContainer div:before,
  .hourglassContainer div:after {
    transform-style: preserve-3d;
  }
  
  @-webkit-keyframes hourglassRotate {
    0% {
      transform: rotateX(0deg);
    }
  
    50% {
      transform: rotateX(180deg);
    }
  
    100% {
      transform: rotateX(180deg);
    }
  }
  
  @keyframes hourglassRotate {
    0% {
      transform: rotateX(0deg);
    }
  
    50% {
      transform: rotateX(180deg);
    }
  
    100% {
      transform: rotateX(180deg);
    }
  }
  
  .hourglassCapTop {
    top: 0;
  }
  
  .hourglassCapTop:before {
    top: -25px;
  }
  
  .hourglassCapTop:after {
    top: -20px;
  }
  
  .hourglassCapBottom {
    bottom: 0;
  }
  
  .hourglassCapBottom:before {
    bottom: -25px;
  }
  
  .hourglassCapBottom:after {
    bottom: -20px;
  }
  
  .hourglassGlassTop {
    transform: rotateX(90deg);
    position: absolute;
    top: -16px;
    left: 3px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: #999999;
  }
  
  .hourglassGlass {
    perspective: 100px;
    position: absolute;
    top: 32px;
    left: 20px;
    width: 10px;
    height: 6px;
    background-color: #999999;
    opacity: 0.5;
  }
  
  .hourglassGlass:before,
  .hourglassGlass:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #999999;
    left: -17px;
    width: 44px;
    height: 28px;
  }
  
  .hourglassGlass:before {
    top: -27px;
    border-radius: 0 0 25px 25px;
  }
  
  .hourglassGlass:after {
    bottom: -27px;
    border-radius: 25px 25px 0 0;
  }
  
  .hourglassCurves:before,
  .hourglassCurves:after {
    content: '';
    display: block;
    position: absolute;
    top: 32px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #333;
    animation: hideCurves 2s ease-in 0s infinite;
  }
  
  .hourglassCurves:before {
    left: 15px;
  }
  
  .hourglassCurves:after {
    left: 29px;
  }
  
  @-webkit-keyframes hideCurves {
    0% {
      opacity: 1;
    }
  
    25% {
      opacity: 0;
    }
  
    30% {
      opacity: 0;
    }
  
    40% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes hideCurves {
    0% {
      opacity: 1;
    }
  
    25% {
      opacity: 0;
    }
  
    30% {
      opacity: 0;
    }
  
    40% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .hourglassSandStream:before {
    content: '';
    display: block;
    position: absolute;
    left: 24px;
    width: 3px;
    background-color: #73000d;
    -webkit-animation: sandStream1 2s ease-in 0s infinite;
    animation: sandStream1 2s ease-in 0s infinite;
  }
  
  .hourglassSandStream:after {
    content: '';
    display: block;
    position: absolute;
    top: 36px;
    left: 19px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #73000d;
    animation: sandStream2 2s ease-in 0s infinite;
  }
  
  @-webkit-keyframes sandStream1 {
    0% {
      height: 0;
      top: 35px;
    }
  
    50% {
      height: 0;
      top: 45px;
    }
  
    60% {
      height: 35px;
      top: 8px;
    }
  
    85% {
      height: 35px;
      top: 8px;
    }
  
    100% {
      height: 0;
      top: 8px;
    }
  }
  
  @keyframes sandStream1 {
    0% {
      height: 0;
      top: 35px;
    }
  
    50% {
      height: 0;
      top: 45px;
    }
  
    60% {
      height: 35px;
      top: 8px;
    }
  
    85% {
      height: 35px;
      top: 8px;
    }
  
    100% {
      height: 0;
      top: 8px;
    }
  }
  
  @-webkit-keyframes sandStream2 {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 0;
    }
  
    51% {
      opacity: 1;
    }
  
    90% {
      opacity: 1;
    }
  
    91% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes sandStream2 {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 0;
    }
  
    51% {
      opacity: 1;
    }
  
    90% {
      opacity: 1;
    }
  
    91% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .hourglassSand:before,
  .hourglassSand:after {
    content: '';
    display: block;
    position: absolute;
    left: 6px;
    background-color: #73000d;
    perspective: 500px;
  }
  
  .hourglassSand:before {
    top: 8px;
    width: 39px;
    border-radius: 3px 3px 30px 30px;
    animation: sandFillup 2s ease-in 0s infinite;
  }
  
  .hourglassSand:after {
    border-radius: 30px 30px 3px 3px;
    animation: sandDeplete 2s ease-in 0s infinite;
  }
  
  @-webkit-keyframes sandFillup {
    0% {
      opacity: 0;
      height: 0;
    }
  
    60% {
      opacity: 1;
      height: 0;
    }
  
    100% {
      opacity: 1;
      height: 17px;
    }
  }
  
  @keyframes sandFillup {
    0% {
      opacity: 0;
      height: 0;
    }
  
    60% {
      opacity: 1;
      height: 0;
    }
  
    100% {
      opacity: 1;
      height: 17px;
    }
  }
  
  @-webkit-keyframes sandDeplete {
    0% {
      opacity: 0;
      top: 45px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    1% {
      opacity: 1;
      top: 45px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    24% {
      opacity: 1;
      top: 45px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    25% {
      opacity: 1;
      top: 41px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    50% {
      opacity: 1;
      top: 41px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    90% {
      opacity: 1;
      top: 41px;
      height: 0;
      width: 10px;
      left: 20px;
    }
  }
  
  @keyframes sandDeplete {
    0% {
      opacity: 0;
      top: 45px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    1% {
      opacity: 1;
      top: 45px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    24% {
      opacity: 1;
      top: 45px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    25% {
      opacity: 1;
      top: 41px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    50% {
      opacity: 1;
      top: 41px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    90% {
      opacity: 1;
      top: 41px;
      height: 0;
      width: 10px;
      left: 20px;
    }
  }
  
